<section class="content-interna" style="background-image: url(../assets/images//back_content_interna2.jpg);">
  <section class="content-interna" style="background-image: url(http://www.remay.com.br/_files/css/img/back_content_interna2.jpg);">
    <div class="center">
      <article class="pagclientes">
        <h2>{{ 'CLIENT.HOME' | translate }}</h2>
        <div style="width: 960px;">
        <div class="div-clientes"><img title="Bradesco" alt="Bradesco" src="../assets/images//cli_bradesco.png"></div>
        <div class="div-clientes"><img title="Candura" alt="Candura" src="../assets/images//cli_candura.png"></div>
        <div class="div-clientes"><img title="Colorcon" alt="Colorcon" src="../assets/images//cli_colorcon.png"></div>
        <!--<div class="div-clientes"><img title="Sompo Seguros" alt="Sompo Seguros" src="../assets/images//cli_sompo.png"></div>-->
      </div>
      </article>
    </div>
  </section>	
</section>