<section class="content-interna" style="background-image: url(assets/images/back_content_interna2.jpg);">
  <div class="center">
  <article class="pagapresentacao">
    <ul>
    <li>
      <h2>{{ 'SERVICES.TITLE1' | translate }}</h2>
      <div class="texto">
      <p> {{ 'SERVICES.P1' | translate }}</p>
      <p> {{ 'SERVICES.P2' | translate }}</p>
      <p> {{ 'SERVICES.P3' | translate }}</p>
      <p> {{ 'SERVICES.P4' | translate }}</p>
      <p> {{ 'SERVICES.P5' | translate }}</p>
      </div>
    </li>
    <li>
      <div class="box-foto">
      <h3 class="title-box-foto">{{ 'SERVICES.TITLE1' | translate }}</h3>
      <img src="./assets/images//serv1.jpg" width="401" height="414">
      <div class="border-triangular"></div>
      </div>
    </li>
    </ul>
  </article>
  <article class="pagapresentacao">
    <ul>
    <li>
      <h2>{{ 'SERVICES.TITLE2' | translate }}</h2>
      <div class="texto">
        <p> {{ 'SERVICES.P6' | translate }}</p>
        <p> {{ 'SERVICES.P7' | translate }}</p>
        <p> {{ 'SERVICES.P8' | translate }}</p>
        <p> {{ 'SERVICES.P9' | translate }}</p>
      </div>
    </li>
    <li>
      <div class="box-foto">
      <h3 class="title-box-foto">{{ 'SERVICES.TITLE2' | translate }}</h3>
      <img src="./assets/images//serv2.jpg" width="401" height="414">
      <div class="border-triangular"></div>
      </div>
    </li>
    </ul>
  </article>
  <article class="pagapresentacao">
    <ul>
    <li>
      <h2>{{ 'SERVICES.TITLE3' | translate }}</h2>
      <div class="texto">
        <p> {{ 'SERVICES.P10' | translate }}</p>
        <p> {{ 'SERVICES.P11' | translate }}</p>
        <p> {{ 'SERVICES.P12' | translate }}</p>
        <p> {{ 'SERVICES.P13' | translate }}</p>
        <p> {{ 'SERVICES.P14' | translate }}</p>
        <p> {{ 'SERVICES.P15' | translate }}</p>
      </div>
    </li>
    <li>
      <div class="box-foto">
      <h3 class="title-box-foto">{{ 'SERVICES.TITLE3' | translate }}</h3>
      <img src="./assets/images//serv3.jpg" width="401" height="414">
      <div class="border-triangular"></div>
      </div>
    </li>
    </ul>
  </article>			
  </div>
</section>