<section class="content-interna" style="background-image: url(assets/images/back_content_interna2.jpg);">
  <div class="center">
  <article class="pagapresentacao">
    <ul>
    <li>
      <h2>{{ 'MAIN.TITLE' | translate }}</h2>
      <div class="texto">
      <p>{{ 'MAIN.P1' | translate }}</p>
      <p>{{ 'MAIN.P2' | translate }}</p>
      <p>{{ 'MAIN.P3' | translate }}</p>
      <h4>{{ 'MAIN.SUBTL1' | translate }}</h4>
      <p>{{ 'MAIN.P4' | translate }}</p>
      <p>{{ 'MAIN.P5' | translate }}</p>
      <p>{{ 'MAIN.P6' | translate }}</p>
      <h4>{{ 'MAIN.SUBTL2' | translate }}</h4>
      <p>{{ 'MAIN.P7' | translate }}</p>
      </div>
    </li>
    <li>
      <div class="box-foto">
      <h3 class="title-box-foto">{{ 'MAIN.SUBTL3' | translate }}</h3>
      <img src="../../assets/images/quem-somos.jpg" width="401" height="414">
      <div class="border-triangular"></div>
      </div>
    </li>
    </ul>
  </article>
  </div>
</section>
